html{
  background-color: aliceblue;

}
.App {
  text-align: center;
  height: 100%;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  display: flex;
  justify-content: space-evenly;
  background-color: #ac0606;
  max-width: 100%;
  height: 10vh;
  font-size: 12px;
  color: whitesmoke;
  padding-top: 1rem;
}

.App-header h1{
  margin-top: 0;
  text-shadow: 2px 2px silver;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
