.Login{
    border: 2px red;
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
    height: 25%;
}

#login-form{
    margin-left: 4rem;
    border: 2px black;
    padding: 1rem;
}

#login-form input{
    margin: 0.5rem;
    font-size: 1rem;
}

.modal{
    padding-top: 0.5rem;
}

#login-button{
    font-size: 1rem;
}